# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
#assets/sign_language_model.h5
#assets/sign_language_model.tflite

# IDEs and editors
.idea/
# *.iml  - Comentado para permitir configuración del proyecto
*.ipr
*.iws
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Obfuscation and Symbolication
app.*.map.json
app.*.symbols

# Platform-specific builds
# ios/  - Comentado para permitir configuración iOS
android/app/debug
android/app/profile
android/app/release
linux/
macos/
windows/
# web/  - Comentado para permitir configuración web